{% load static %}
*{
	margin:0;
	padding: 0;
}
body {
	background-color: #333333;
	/*background-color: #fff;*/
    min-width: 1500px;
}
header{
	background-color: #191919;
	width:100%;
	height:80px;
}
.logo{
	width:500px;
	height:100%;
	line-height: 70px;
	position: relative;
	margin-left: 90px;
}
.logo .main-logo{
	width:140px;
	display: inline-block;
	position: absolute;
	top:50%;
	margin-top: -30.5px;

}
.sub-logo{
	display: inline-block;
	position: absolute;
	left:160px;
	width: 100px;
	top:50%;
	margin-top: -15.18px;
}
.main{
	position: relative;
	margin-top: 30px;
}
.m {
	width: 960px;
	height: 650px;
	margin-left: 100px;
	margin-right: auto;
	float: left;
}
.aside{
	float: right;
	width:300px;
	height:650px;
	background-color: #191919;
	margin-right:100px;
}
.channel-box{
	overflow-y:auto;
	width:100%;
	height:100%;
}
.channel-box h1{
	display: block;
	color: #fff;
	font-weight: bolder;
	font-size: 18px;
	display: block;
	margin-top: 10px;
	text-align: center;
}
.channel{
	display: inline-block;
	width:300px;
	height:30px;
	line-height: 30px;
	background-color: rgba(51,51,51,0.5);
	border-radius: 3px;
	text-align: center;
	margin-top: 5px;
	color: #fff;
}
.channel:hover{
	cursor: pointer;
	background-color: rgba(204,0,51,0.5);
	color: #fff;
}

.switch-box {
	width: 960px;
	height: auto;
	margin-left: 100px;
	margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;

	float: left;
}
.switch-item{
    width:200px;
    height:50px;
	margin-right: 10px;
	margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	color: white;
	border-radius: 6px;
	transition: 0.6s;
	/*background-image: url('/static/img/tv.png');*/
}
.switch-item:nth-child(n){
	background-size: 200%;
	background-image: linear-gradient(to left,#EA2027,#B53471,#EA2027);
}
.switch-item:nth-child(2n){
	background-size: 200%;
	background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
}
.switch-item:nth-child(3n){
	background-size: 200%;
	background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}
.switch-item:nth-child(3n+1){
	background-size: 200%;
	background-image: linear-gradient(to left,#12CBC4,#009432,#12CBC4);
}
.switch-item:hover{
	cursor: pointer;
	background-position: right;
}
.switch-item a{
	text-decoration: none;
	color: #fff;
}
.notice{
	border:none;
	margin-left:0px;
	margin-right:0px;
	margin-bottom: 10px;
	padding: 10px;
	width:960px;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 15px;
	background-size: 200%;
	background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
	transition: 1s;
}
.notice:hover{
	font-size: 18px;
	background-position: right;
}

